<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Flask示例</title>
 </head>
    <body>
       <form action = "http://127.0.0.1:8899/student/result" method = "POST">
          <p>姓名 <input type = "text" name = "Name" /></p>
          <p>物理分数: <input type = "text" name = "Physics" /></p>
          <p>化学分数: <input type = "text" name = "Chemistry" /></p>
          <p>数学分数: <input type ="text" name = "Mathematics" /></p>
          <p><input type = "submit" value = "提交" /></p>
       </form>
    </body>
 </html>